.page {
    /*  */
}

.background-layout {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    z-index: -1;
    background-color: #A4A4A4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.foreground-layout {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
    line-height: calc(100vh - 60px);
    background-color: #A4A4A4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);     */
}

.container {
    height: calc(100vh - 60px);
    background-color: #E6E6E6;
}

.bottom-layout {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
}

.bottom-header {
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.product-section {
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    background-color: #B8B8B8;
    height: 350px;
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}

.prohedger-section:hover {
    /* background-color: #6B37E1; */
    background: -webkit-linear-gradient(45deg,#8852FF,#6B37E1);
    background: linear-gradient(45deg,#8852FF,#6B37E1);
    color: white;
}

.project2-section:hover {
    background: -webkit-linear-gradient(45deg,#FFCD28,#E6B104);
    background: linear-gradient(45deg,#FFCD28,#E6B104);
    color: white;
}

.project3-section:hover {
    background: -webkit-linear-gradient(45deg,#0099FF,#0066FF);
    background: linear-gradient(45deg,#0099FF,#0066FF);
    color: white;
}

.product-header {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}

.product-subtitle {
    color: white;
}

.view-more {
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    cursor: pointer;
}

.footer-name {
    color: #A4A4A4;
    font-weight: 600;
    font-size: 18px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}