.page-header1 {
    max-width: 350px
}

.info-page {
    margin-left: var(--side-margin);
    margin-right: var(--side-margin)
}

.info-container {
    margin-left: 100px;
    margin-right: 100px;
}

.info-container img {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom:15px;
    margin-top: 30px
}

.col {
    width: 50%;
    margin: 80px 0px;
    max-width: 500px;
}

.custom-row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-left {
    margin-right: 10px;
}

.col-right {
    margin-left: auto;
    margin-right: 0px;
}

.social-link {
    cursor: pointer;
    margin-right: 30px;
}

.social-link-row {
    margin-top: 20px;
}