.page-header {
    text-align: center;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 440px;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    margin-bottom: 10px;
}

.row .product-section {
    width: 50%;
}

.section-left {
    margin-left: 0px;
    margin-right: 5px;
}

.section-right {
    margin-right: 0px;
    margin-left: 5px;
}

.footer-name {
    margin: auto;
    text-align: center;
}