@media screen and (max-width: 700px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        background-color: black;
        height: 60px;
    }

    .mobile-logo {
        display: flex;
        width: 100%;
        line-height: 60px;
    }

    .mobile-logo a {
        margin: auto;
    }

    .menu-container {
        position: absolute;
        top: 18px;
        right: 20px;
        height: 154px;
    }

    .mobile-options {
        position: absolute;
        width: 100%;
        background-color: black;
    }

    .mobile-option {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
        border-top: white 1px solid;
    }
}

@media screen and (min-width: 700px) {
    .navbar {
        background-color: black;
        height: 60px;
        padding-left:  var(--side-margin);
        padding-right: var(--side-margin);;
        color: white;
        display: flex;
        flex-direction: row;
    }

    .mobile-navbar {
        display: none;
    }
}


.logo  {
    margin: auto;
    margin-left: 0px;
}

.logo a {
    cursor: pointer;
    font-size: 27px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #0099FF;
}

.option {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    cursor: pointer;
}

.option a {
    color: white;
    text-decoration: none;
}

.work-option {
    margin-left: auto;
}

.work-option a:hover {
    color: #FFCD28;
}

.philosophy-option a:hover {
    color: #A780FF;
}

.info-option a:hover {
    color: #0099FF;
}

.info-option {
    margin-right:0px
}
