body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Ubuntu';
}

:root {
  --side-margin: 20px;
}

@media screen and (max-width: 1440px) and (min-width: 1250px) {
  :root {
    --side-margin: calc((100% - 1200px + 83px)/2);
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --side-margin: calc((100% - 1400px + 83px)/2);
  }
}

